* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    flex-direction: column;
    /* border: 3px dotted darkcyan; */
    align-items: center;
    gap: 36px;
    background-color: #1f2937;
    font-family: "Roboto", sans-serif;
}

.logo-links {
    display: flex;
    width: 75%;
    /* border: 3px dotted darkorchid; */
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}

.logo {
    /* color: white; */
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

.header-links {
    display: flex;
    /* border: 3px dotted red; */
    gap: 16px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.hero-section {
    display: flex;
    width: 75%;
    /* border: 3px dotted darkorchid; */
    margin-bottom: 40px;
}

.hero-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    /* border: 3px dotted orange; */
    padding: 12px;
    gap: 12px;
    width: 50%;
}

.hero-title {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.hero-text {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: grey;
}

button {
    padding: 4px 28px;
    color: whitesmoke;
    font-weight: bold;
    background-color: #3882f6;
    border-radius: 8px;
}