* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    flex-direction: column;
    border: 3px dotted darkcyan;
    align-items: center;
}

.logo-links {
    display: flex;
    width: 75%;
    border: 3px dotted darkorchid;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}

.logo {
    /* color: white; */
    font-size: 24px;
    font-weight: bold;
}

.header-links {
    display: flex;
    border: 3px dotted red;
    gap: 16px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

.header-info {
    border: 3px dotted orange;
}

.header-image {
    min-width: 400px;
    min-height: 150px;
    background-color: grey;
}

.hero-section {
    display: flex;
    width: 75%;
}