* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    flex-direction: column;
    /* border: 3px dotted darkcyan; */
    align-items: center;
    gap: 36px;
    background-color: #1f2937;
    font-family: "Roboto", sans-serif;
}

.logo-links {
    display: flex;
    width: 75%;
    /* border: 3px dotted darkorchid; */
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}

.logo {
    /* color: white; */
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

.header-links {
    display: flex;
    /* border: 3px dotted red; */
    gap: 16px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.hero-section {
    display: flex;
    width: 75%;
    /* border: 3px dotted darkorchid; */
    gap: 12px;
    margin-bottom: 100px;
    margin-top: 40px;
}

.hero-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    /* border: 3px dotted orange; */
    padding: 0 12px;
    gap: 12px;
    width: 50%;
}

.hero-title {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.hero-text {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: grey;
}

button {
    padding: 4px 28px;
    color: whitesmoke;
    font-weight: bold;
    background-color: #3882f6;
    border-radius: 8px;
}


.random-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 3px dotted darkorchid; */
    padding: 16px;
}

.card-section {
    display: flex;
    /* border: 3px dotted orange; */
    gap: 40px;
    margin-bottom: 50px;
}

.card-item {
    width: 150px;
    height: 200px;
    /* border: 3px dotted darkorchid; */
    text-align: center;
}

.card {
    width: 150px;
    height: 150px;
    border: 4px solid #3882f6;
    border-radius: 12px;
}

.random-title {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    /* border: 2px dotted green; */
    margin-bottom: 48px;
}

.quote-section {
    display: flex;
    flex-direction: column  ;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    padding: 90px 0px;
    /* border: 3px dotted green; */
}

.quote-container-text {
    width: 60%;
    /* border: 3px dotted darkorchid; */
} 


.quote-container-person {
    width: 60%;
    display: flex;
    justify-content: flex-end;
    padding: 0 12px;
    /* border: 3px dotted darkorchid; */
}

.quote-person {
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.quote-text {
    font-style: italic;
    font-size: 36px;
    font-weight: lighter;
    color: #1f2937;
}

.action-section {
    background-color: #3882f6;
    width: 70%;
    margin: auto;
    margin-top: 120px;
    margin-bottom: 120px;
    padding: 60px 100px;
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
}

.action-call {
    font-size: 26px;
    font-weight: 900;
    color: #e5e7eb;
}

.action-sign-up {
    color: #e5e7eb;
}

.action-button {
    border: 2px solid whitesmoke;
}